* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Gotham Pro";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wraper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon-clock {
    font-size: 30px;
}

/*header*/
.header {
    height: 50px;
}

.timeData {
    width: 270px;
    margin-right: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.timeData span {
    margin-right: 10px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -6px;
    margin-left: -40px;
}

.positionH {
    height: 50px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.timeData .numb {
    font-size: 30px;
    line-height: 36px;
    color: #333333;
    font-weight: 700;
}

.timeData .date {
    font-size: 11.5px;
    line-height: 13px;
    color: #999999;
    font-weight: 400;
}

.icon-russia {
    font-size: 28px;
    position: relative;
    display: block;
}

.icon-russia .path1 {
    position: relative;
}

.icon-russia .path2, .icon-russia .path3 {
    position: absolute;
    top: 0;
    left: 30px;
}

.language .lang {

    padding-left: 10px;

}
.language select {
    border: 0;
    padding-left: 11px;
    font-size: 14px;
    line-height: 36px;
    color: #333333;
    font-weight: 800;
}

.socIcon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.socIcon a {
    margin-right: 10px;
    font-size: 30px;
    color: #999999;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact .messeger {
    margin-right: 10px;
    font-size: 30px;
    text-decoration: none;
}

.contact a:nth-child(1) {
    color: #66cccc;
}

.contact a:nth-child(2) {
    color: #993366;
}

.contact .phone {
    font-size: 20px;
    line-height: 36px;
    color: #333333;
    font-weight: 700;
    text-decoration: none;
}

/*baner*/
.baner {
    background-image: url(../img/jpg/fonbanner.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.positionB1 {
    height: 102px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 97px;
}
.baner .menu {
    margin-top: 10px;
}
.baner .menu a {
    font-size: 14px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    margin-top: 10px;
}

.menu li + li {
    margin-left: 23px;
}

.baner .logo, .baner .logo span {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.positionB4 .entersum, .positionB4 .money {
    display: flex;

}

.baner .logo span {
    font-size: 27px;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 95px;
}


.TagLine {
    width: 600px;
}

h1 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.account {
    height: 45px;
    width: 355px;
    margin-top: 10px;
}

.account button {
    height: 45px;
    width: 170px;
    background-image: none;
    background: transparent;
}

.authorization button {
    border: 1px solid #66ccff;
}

.register button {
    border: 1px solid #993366;
}

.authorization .left {
    font-size: 15px;
    line-height: 27px;
    color: #66ccff;
    font-weight: 300;
    float: left;
}

.authorization button span {
    margin-right: 10px;
}

.register button span {
    margin-right: 10px;
}

.register .right {
    font-size: 15px;
    line-height: 27px;
    color: #cc3366;
    font-weight: 300;
    float: right;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.baner .logo {
    height: 110px;
    width: 200px;
    background-image: url(../img/png/logo1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.positionB3 {
    height: 365px;
    width: 900px;
    margin-top: 75px;
    /*margin-left: 270px;*/
    position: relative;
}

.positionB3 .bgiFon {
    position: absolute;
    background-image: url(../img/png/bgicalc.png);
    height: 365px;
    width: 1170px;
    background-repeat: no-repeat;
    top: 47px;
    left: -185px;
    /*background-position: center;*/
    /*background-size: cover;*/
    /*left: -290px;*/
    /*top: 30px;*/
}

.positionB3 .bgcFon {
    position: absolute;
    height: 310px;
    width: 960px;
    background-color: rgba(27, 37, 42, 0.85);
    left: 185px;
    top: -15px;
}

.positionB3 .positionText0 {
    position: absolute;
    top: 65px;
}

.positionB3 .planPosition1 {
    height: 60px;
    width: 900px;
    margin-top: -7px;
    margin-bottom: 55px;
    margin-left: 290px;
}

.positionB3 .planPosition1 .percent {
    margin-top: -30px;
}

.positionB3 .planPosition1 > div {
    float: left;
    margin-right: 30px;
}


.planPosition2 {
    height: 55px;
    width: 845px;
    padding-right: 55px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 290px;
}

.planPosition2 .entersum {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}


.planPosition2 .entersum .num input {
    width: 290px;
    height: 45px;
    background-image: none;
    background: transparent;
    border: 1px solid #666666;
    padding-left: 20px;

}

.planPosition2 ul {
    margin-left: 20px;
}

.positionDeposit {
    height: 80px;
    width: 735px;
    margin-left: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positionDeposit .ante {
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positionDeposit .text-deposit span {
    /*width: 260px;*/
    /*margin-left: -60px;*/
}

.positionProfit > div {
    margin-top: 30px;
    float: left;
}

.calc .text0 {
    width: 180px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    position: absolute;

}

.positionB2 {
    height: 130px;
    width: 1170px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.calc .plan .text1 {
    color: #ffffff;
}

.calc .plan .text1 span:nth-child(1) {
    font-size: 21px;
    line-height: 36px;
    font-weight: 700;
}

.calc .plan .text1 span:nth-child(2) {
    font-size: 17px;
    line-height: 36px;
    font-weight: 400;
}

.plan .pasiv .num {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #cc3366;

}

/*.plan .activ .num {*/
/*    font-size: 30px;*/
/*    line-height: 25px;*/
/*    font-weight: 700;*/
/*    color: #66cccc;*/
/*}*/

.plan .noactiv .num {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #333366;
}

.plan .pasiv .text {
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
}

.plan .activ .text {
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
}

.plan .noactiv .text {
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    color: #cc6699;
}

.entersum input {
    font-size: 17px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
}

.money .text .rub, .money .text .btc {
    font-size: 17px;
    line-height: 36px;
    font-weight: 700;
    color: #999999;
    text-transform: uppercase;
}

.money .text .usd {
    font-size: 17px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.ante span {
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: #999999;
}

.ante span:nth-child(1) {
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: #cc3366;
}

.text-deposit {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    /*margin-right: 55px;*/
}

.profit span {
    color: #ffffff;
}

.profit .text {
    font-size: 14px;
    line-height: 47px;
    font-weight: 700;
}

.profit .num {
    font-size: 33px;
    line-height: 47px;
    font-weight: 700;
}

.profit .botton button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 11px;
    width: 240px;
    height: 60px;
    margin-left: -20px;
    background-image: none;
    background-color: #73b6cc;
    border: none;
}

.positionProfit {
    width: 900px;
    height: 70px;
    float: left;
    margin-left: 290px;
    margin-top: -20px;
}

.positionProfit .day,
.positionProfit .ago {
    margin-right: 140px;
}

/*rate котировки валют*/
.rate {
    height: 50px;
    background-color: #13171C;
}

.positionRate {
    height: 50px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.rate .cours {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.rate .cours span:first-child {
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.rate .cours span:last-child {
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.icon-arrow-down {
    color: #cc3366;
}

.icon-arrow-up {
    color: #6699cc;
}

/*блок promo*/
.promo .positionPromo {
    height: 670px;
    width: 1170px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.promo .bgiPlayer {
    position: absolute;
    height: 430px;
    width: 510px;
    background-image: url(../img/jpg/player.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    left: 45px;
    top: -50px;
}

.promo .bgiPromo {
    position: absolute;
    width: 585px;
    height: 305px;
    background-image: url(../img/png/fonvideo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo .video {
    height: 585px;
    width: 430px;
    margin-right: 15px;
    position: relative;
}

.promo .description {
    height: 585px;
    width: 570px;
    margin-top: -60px;
}

.promo .videoText {
    height: 30px;
    width: 505px;
    position: absolute;
    margin-left: 60px;
    margin-top: -40px;
}

.promo .videoText span {

    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
}

.promo .description h2 {
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.promo .description .subtitl {
    height: 95px;
    width: 615px;
    margin-left: -45px;
    padding-left: 45px;
    padding-top: 20px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
}

.promo .description .subtitl span {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    color: #333333;

}

.promo .description .text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 60px;
}

.promo .botton {
    height: 40px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo .botton button {
    height: 40px;
    width: 140px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    background: transparent;
}


.promo .botton .left {
    color: #6699cc;
    border: 1px solid #6699cc;
}

.promo .botton .right {
    color: #ffffff;
    border: 1px solid #993366;
    background-color: #993366;
}

/*блок strategy*/
.strategy {
    height: 560px;
    background-color: #F2F2F2;
}

.strategy .image {
    background-image: url(../img/png/fonlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.strategy .marker {

    margin-top: -55px;
}

.strategy .marker button {
    width: 280px;
    height: 55px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #70b0c6;
    border: 0;
}

.positionMarker {
    height: 55px;
    width: 1170px;
    display: flex;
    justify-content: center;
}

.positionMarker ul {
    height: 55px;
    width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strategy .marker ul li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.strategy .marker ul li + li {
    margin-left: 15px;
}

.strategy .marker .activ {
    /*color: #333333;*/
    height: 55px;
    width: 280px;
    /*background-color: #f2f2f2;*/
    margin-right: 15px;
}

.strategy .marker .pasiv {
    /*color: #ffffff;*/
    height: 55px;
    width: 280px;
    /*background-color: #70b0c6;*/
}

.positionTextStrategy {
    height: 555px;
    width: 1170px;
    margin-top: 115px;
}

.positionTextStrategy > div {
    float: left;
}

.positionTextStrategy .text {
    width: 380px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.positionTextStrategy .text span[class*="icon"] {
    margin: 0 20px;
}

.positionTextStrategy .LefTtext p {
    text-align: right;
}

.positionTextStrategy .LefTtext .trade,
.positionTextStrategy .RightT .work {
    margin-bottom: 75px;
}

.positionTextStrategy .RightT p {
    text-align: left;
}

.positionTextStrategy .logo {
    height: 325px;
    width: 335px;
    margin: 0 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionTextStrategy .bgiStrategy {
    height: 325px;
    width: 335px;
    background-image: url(../img/png/fonlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.positionTextStrategy .logoStrategy {
    height: 135px;
    width: 175px;
    background-image: url(../img/png/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.icon-trade, .icon-company, .icon-work, .icon-target {
    font-size: 50px;
    color: #993366;
}

.strategy .LefTtext p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
}

.strategy .LefTtext p > span {
    color: #993366;
    font-weight: 700;
}

.strategy .RightT p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
}

.strategy .RightT p > span {
    color: #993366;
    font-weight: 700;
}

/*блок partner -партнеры- */
.partner h2 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.partner {
    height: 635px;
    background-image: url(../img/jpg/fonPartner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.partner .bgiFon {
    position: absolute;
    height: 345px;
    width: 1170px;
    background-image: url(../img/png/partner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 380px;
    top: 145px;
}

.positionLevel .level {
    height: 55px;
    width: 1115px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.positionLevel .point span {
    text-align: center;
    display: block;
}

.positionLevel {
    margin-top: -28px;
    margin-left: 12px;
}

.positionDesc {
    height: 195px;
    width: 1040px;
    margin-left: 60px;
    margin-top: 45px;
}

.positionDesc .description > div {
    float: left;
}

.positionDesc .titl {
    height: 195px;
    width: 370px;
    margin-right: 30px;
    margin-top: 55px;
}

.positionDesc .text {
    height: 195px;
    width: 630px;
}

.positionDesc .text p:first-child {
    margin-bottom: 20px;
}

.positionDesc .text p:last-child {
    margin-top: 20px;
}

.partner .titl span {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.partner .point .percent {
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    color: #66cccc;
}

.partner .point .text {
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

}

.partner .description .text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

.partner .description .text span {
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
    color: #66cccc;
}

.partner .botton {
    height: 65px;
    width: 265px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.btnConnect {
    height: 65px;
    width: 265px;
    margin-left: 827px;
    margin-top: 53px;
}

.btnConnect button {
    background-image: none;
    border: 1px solid #73b6cc;
    background-color: #73b6cc;
}

/*блок guid обписание как стать инвестором*/

.guid h2 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

.positionGuid {
    height: 810px;
    width: 1170px;
}

.positionGuid .title {
    height: 230px;
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionGuid .LeftItem {
    height: 140px;
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positionGuid .LeftNum {
    height: 140px;
    width: 150px;
    position: relative;
}

.positionGuid .LeftNum .num {
    position: absolute;
    top: 25px;
}

.positionGuid .LeftIcon {
    height: 20px;
    width: 35px;
    background-color: #a5345c;
    position: absolute;
    top: 45px;
    left: 130px;
}

.positionGuid .LeftText {
    height: 140px;
    width: 890px;
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-left: 30px;
}

.positionGuid .LeftText .subTitle {
    height: 135px;
    width: 210px;
    float: left;
    margin-right: 55px;

}

/*блок с надпись с лева напрва и циыра справа*/
.positionGuid .RightItem {
    height: 140px;
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 150px;
}

.positionGuid .RightText {
    height: 140px;
    width: 890px;

    background-color: #f2f2f2;
    padding-top: 40px;
    padding-left: 30px;
}

.positionGuid .RightText .text {
    height: 140px;
    width: 630px;
    float: left;
}

.positionGuid .RightText .subTitle {
    text-align: right;
    margin-right: 25px;
}

.positionGuid .RightNum {
    height: 140px;
    width: 150px;
    position: relative;
}

.positionGuid .RightIcon {
    height: 20px;
    width: 35px;
    background-color: #a5345c;
    position: absolute;
    top: 45px;
    left: -15px;
}

.positionGuid .RightNum .num {
    position: absolute;
    top: 25px;
    left: 45px;
}

.guid .num {
    font-size: 77px;
    line-height: 62px;
    font-weight: 700;
    color: #66cccc;
    text-transform: uppercase;
}

.guid h3 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

.guid .text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
}

.guid .text span {
    font-weight: 700;
    color: #993366;
}

/*блок статистики statistics*/
.statistics {
    height: 360px;
    /*width: 1200px;*/
    background-image: url(../img/jpg/fonStatistics.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.statistics .imgFon {
    height: 200px;
    width: 1170px;
    background-image: url(../img/png/fonStatistics.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*разобраться что не так с позиционированием статистических элементов*/
.positionStat {
    height: 200px;
    width: 1140px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistics .text span {
    display: block;
}

.statistics .text {
    font-size: 17px;
    line-height: 46px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.statistics .num {
    font-size: 33px;
    line-height: 46px;
    font-weight: 700;
    color: #ffffff;
}

.icon-deposit, .icon-investers, .icon-invest, .icon-pay {
    font-size: 50px;
    color: #66cccc;
}

/*блок описания description*/
.positionDescription {
    height: 940px;
    background-color: #f2f2f2;
}

.positionDescription .title {
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    padding-top: 115px;
    margin-bottom: 40px;
}

.positionDescription .title-text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin-bottom: 80px;
}

.positionDescription .item {
    height: 220px;
    width: 30%;
    float: left;
    margin-bottom: 75px;
    margin-right: 20px;
}

.positionDescription .image {
    height: 60px;
    width: 60px;
    float: left;
    background-color: #73b6cc;
    position: relative;
    margin-right: 20px;
}

.positionDescription [class*="icon"] {
    position: absolute;
    left: 10px;
    top: 10px;
}

.description .item-title {
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    color: #993366;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.description .all .text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
}

.description .all .text span {
    font-weight: 700;
}

.icon-license,
.icon-client,
.icon-circs,
.icon-world,
.icon-tool,
.icon-comfort {
    font-size: 40px;
    color: #ffffff;
}

/*блок платежных систем payments*/
.payments {
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payments .bgiFon {
    height: 145px;
    width: 1170px;
    background-image: url(../img/png/fonPayments.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.payments .image {
    height: 140px;
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

/*блок about*/
.about {
    height: 510px;
    background-color: #333333;
}

.positionAbout {
    height: 320px;
    width: 1170px;
    display: flex;
    justify-content: space-around;
    padding-top: 95px;
}

.about .list {
    width: 250px;
    float: left;
    margin-right: 20px;
}

.about .logo {
    height: 60px;
    width: 200px;
    background-image: url(../img/png/logo1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.tradeColumn .textAddress,
.tradeColumn .regNumText {
    margin-bottom: 34px;
}

.tradeColumn button {
    height: 40px;
    width: 240px;
    background-image: none;
    background: transparent;
    border: 1px solid #73b6cc;
}


.about .logo span {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 95px;
}

.positionAbout .tradeColumn {
    width: 330px;
    float: left;
}

.positionAbout .companyColumn {
    width: 215px;
    float: left;
}

.companyColumn .textCompany, .agentColumn .textAgent,
.companyColumn .company, .agentColumn .agent,
.companyColumn .invest, .agentColumn .info {
    margin-bottom: 35px;
}


.positionAbout .agentColumn {
    width: 240px;
    float: left;
}

.about .address,
.about .regNum,
.about .company,
.about .invest,
.about .agent,
.about .info {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.about .textAddress,
.about .regNumText,
.about .textCompany,
.about .textInvest,
.about .textAgent,
.about .textInfo {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #cccccc;
}

.about .textInfo a:nth-child(6),
.about .textInfo a:nth-child(8) {
    color: #66cccc;
}

.about .textInfo a:nth-child(2),
.about .textInfo a:nth-child(4) {
    text-decoration: none;
    font-weight: 500;
    color: #73b6cc;
}

.about .botton button {
    font-size: 15px;
    line-height: 27px;
    font-weight: 300;
    color: #66cccc;
}

/*облвсть подвала footer*/
.footer {
    height: 50px;
    background-color: #3B3F44;
}

.footer .wraper {
    height: 50px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.footer .socIcon {*/
/*    margin-left: 50px;*/
/*}*/
.footer .text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #cccccc;
}

.footer .text span:nth-child(2) {
    font-weight: 500;
    color: #ffffff;
}

/*стилизация второй страницы проекта page OpenDeposit*/
/*блок заголовка header*/
.conteiner {
    width: 1920px;
}

.headerDeposit .logo span {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    width: 110px;
}

.headerDeposit {
    height: 120px;
    width: 1920px;
    display: block;
}

.headerDeposit .left {
    height: 120px;
    width: 360px;
    float: left;
}

.headerDeposit .right {
    height: 120px;
    width: 1560px;
    float: left;
}

.headerDeposit .logo {
    height: 120px;
    width: 360px;
    background-color: #212428;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDeposit .imgLogo {
    height: 60px;
    width: 70px;
    background-image: url(../img/png/logo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}

.headerDeposit .data span:nth-child(2) {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.headerDeposit .data span:nth-child(3) {
    font-size: 11.5px;
    line-height: 13px;
    font-weight: 400;
    color: #999999;
}

.headerDeposit .positionRight {
    height: 120px;
    width: 1560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerDeposit .data {
    height: 120px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDeposit .data span {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.headerDeposit .lang {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDeposit .lang select {
    margin-left: 10px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
}

.headerDeposit .socIcon {
    height: 120px;
    width: 155px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerDeposit .socIcon span {
    color: #afafaf;
    font-size: 30px;
}

.headerDeposit .contact span {
    font-size: 30px;
    margin-right: 10px;
}

.headerDeposit .icon-tg {
    color: #73b6cc;
}

.headerDeposit .icon-viber {
    color: #a5345c;
}

.headerDeposit .contact {
    height: 120px;
    width: 270px;
}

.headerDeposit .contact a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
}

.headerDeposit .profile {
    height: 120px;
    width: 240px;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerDeposit .profile img {
    margin-right: 10px;
}

.headerDeposit .profile span {
    color: #666666;
    font-weight: 400;
}

.headerDeposit .profile a {
    color: #993366;
    font-weight: 700;
    text-decoration: none;
}

/*стлизация блока content*/

.ContentDeposit .left {
    height: 1710px;
    width: 360px;
    background-color: #212428;
    float: left;
}

.ContentDeposit .right {
    height: 1710px;
    width: 1560px;
    background-color: #ebebeb;
    float: left;
}

.ContentDeposit .right {
    height: 1710px;
    width: 1560px;
    background-color: #ebebeb;
    position: relative;
}

.ContentDeposit .imgFon {
    width: 1420px;
    height: 1520px;
    position: absolute;
    background-image: url(../img/png/fonOpenDeposit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 95px;
    left: 70px;
}

.ContentDeposit .textRight span {
    display: inline-block;
}

/*.ContentDeposit .touch .activ {*/
/*    font-size: 14px;*/
/*    line-height: 60px;*/
/*    font-weight: 700;*/
/*    color: #ffffff;*/
/*    text-transform: uppercase;*/
/*    background-color: #292d31;*/
/*    border-left: 7px solid #a5345c;*/
/*    border-bottom: 1px solid #3b3f44;*/
/*    border-top: 1px solid #3b3f44;*/
/*    padding-left: 30px;*/
/*}*/

.ContentDeposit .touch .activ [class*="icon"] {
    color: #a5345c;
}

.ContentDeposit .touch .pasiv {
    width: 360px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #3b3f44;
    border-top: 1px solid #3b3f44;
    padding-left: 30px;
}

.ContentDeposit .touch .pasiv [class*="icon"] {
    color: #73b6cc;
}

.ContentDeposit footer {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    color: #cccccc;
    margin-top: 780px;
    text-align: center;
}

.ContentDeposit footer span:nth-child(2) {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    color: #ffffff;
}

.ContentDeposit .textRight h2 {
    margin-left: 100px;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

.ContentDeposit .num {
    margin-left: 100px;
    margin-top: 75px;
    font-size: 21px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
}

.ContentDeposit .textNum {
    font-size: 17px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
}

.ContentDeposit .items {
    position: relative;
}

.ContentDeposit .positionItems {
    height: 940px;
    width: 1190px;
    position: absolute;
    left: 100px;
    top: 70px;
}

.ContentDeposit .items .item {
    height: 440px;
    width: 30%;
    float: left;
    margin-right: 35px;
    margin-bottom: 30px;
    position: relative;
}

.ContentDeposit .positionItems .bgcBlock {
    height: 165px;
    width: 250px;
    background-color: #74b7cb;
    margin: auto;
    position: absolute;
    left: 15%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentDeposit .positionItems .bgcFon {
    height: 360px;
    width: 370px;
    background-color: #fff;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.ContentDeposit .blockMarker {
    position: absolute;
    height: 35px;
    width: 25px;
    background-color: #a5345c;
    margin-top: 70px;
    margin-left: -100px;
}

.ContentDeposit .positionItems .percent {
    height: 70px;
    width: 125px;
}

.ContentDeposit .positionItems .more {
    height: 170px;
    width: 260px;
}

.positionMore {
    display: flex;
    align-items: flex-end;
    align-content: center;
    padding-bottom: 30px;
}

.positionMore .more [class] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.ContentDeposit .positionItems .focus .bgcFon {*/
/*    border: 5px solid #74b7cb;*/
/*    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.35);*/
/*}*/

.ContentDeposit .positionItems .pasiv .bgcBlock {
    background-color: #d7d7d7;
}

.ContentDeposit .positionCurr {
    position: absolute;
    top: 1100px;
}

.ContentDeposit .positionCurr .curr * {
    display: inline-block;
}

.ContentDeposit .positionCurr .activ label {
    font-size: 17px;
    line-height: 36px;
    font-weight: 700;
    color: #a5345c;
    text-transform: uppercase;
}

.ContentDeposit .positionInvest input {
    height: 45px;
    width: 290px;
    margin-top: 25px;
    margin-left: 100px;
}

.ContentDeposit .positionInvest input[value] {
    padding-left: 20px;
}

.ContentDeposit .positionInvest {
    position: absolute;
    top: 1250px;
}

.ContentDeposit .percent span:nth-child(1) {
    font-size: 50px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.ContentDeposit .percent span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.ContentDeposit .value {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
}

.ContentDeposit .day span:nth-child(1),
.ContentDeposit .all span:nth-child(1),
.ContentDeposit .accrued span:nth-child(1),
.ContentDeposit .back span:nth-child(1) {
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
}

.ContentDeposit .day span:nth-child(2),
.ContentDeposit .all span:nth-child(2),
.ContentDeposit .accrued span:nth-child(2),
.ContentDeposit .back span:nth-child(2) {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #666666;
}

.ContentDeposit .curr label {
    font-size: 17px;
    line-height: 36px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

.ContentDeposit .sum input {
    font-size: 17px;
    line-height: 100px;
    font-weight: 400;
    color: #333333;
}

.ContentDeposit button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #66cccc;
    border: 0;
    position: absolute;
    top: 1493px;
    left: 1115px;
    height: 65px;
    width: 240px;
}

.ContentDeposit .touch span[class*="icon"] {
    font-size: 25px;
    color: #993366;
    margin-right: 20px;
}

/*создание круглой рамки для социальных иконок*/
.icon-fb, .icon-yt, .icon-tw, .icon-vk {
    border: 1px solid #afafaf;
    border-radius: 50%;
}

/*создание блока со ссылкой на главной странице*/
.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

/*создание псевдоэлементов*/
.positionProfit .botton {
    position: relative;
}

.positionProfit .botton button::before {
    content: '';
    display: block;
    position: absolute;
    right: 109%;
    top: 11px;
    width: 0px;
    height: 0px;
    border-right: 25px solid #73b6cc;
    border-bottom: 60px solid transparent;
}

.positionMarker li {
    position: relative;
}

.positionMarker .left button:first-child::before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 20px solid #70b0c6;
    border-top: 55px solid transparent;
}

.positionMarker .right button:last-child::after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-left: 20px solid #70b0c6;
    border-top: 55px solid transparent;
}

.partner .btnConnect {
    position: relative;
}

.partner .btnConnect button::before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 25px solid #73b6cc;
    border-bottom: 65px solid transparent;
}

.guid .LeftIcon {
    position: relative;
}

.guid .LeftIcon::before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 15px solid #a5345c;
    border-top: 20px solid transparent;
}

.guid .RightIcon {
    position: relative;
}

.guid .RightIcon::after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-left: 15px solid #a5345c;
    border-top: 20px solid transparent;
}

.positionDescription .image {
    position: relative;
}

.positionDescription .image::after {
    content: '';
    display: block;
    position: absolute;
    left: 80%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 15px solid #f2f2f2;
    border-bottom: 15px solid transparent;
}

/*создание псевдоэлементов для второй страници проекта*/
.ContentDeposit .positionItems {
    position: relative;
}

.ContentDeposit .positionItems .activ .bgcBlock::after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 0px;
    height: 0px;
    border-right: 250px solid #74b7cb;
    border-bottom: 25px solid transparent;
}

.ContentDeposit .positionItems .pasiv .bgcBlock::after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 0px;
    height: 0px;
    border-right: 250px solid #d7d7d7;
    border-bottom: 25px solid transparent;
}

.ContentDeposit .blockMarker::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: -58%;
    width: 0px;
    height: 0px;
    border-left: 25px solid #a5345c;
    border-top: 20px solid transparent;
}

.ContentDeposit .right .imgFon {
    position: relative;
}

.ContentDeposit .right button::after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 0%;
    width: 0px;
    height: 0px;
    border-right: 25px solid #66cccc;
    border-bottom: 65px solid transparent;
}

/*создание псевдоэлементов для переключателей*/

.planPosition2 .radioBtn {
    display: none;
}

.planPosition2 .money li {
    display: inline-block;
    padding-left: 50px;
}

.planPosition2 .money .text label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
}

.planPosition2 .radioBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    left: 9px;
    width: 23px;
    height: 23px;
    border: 2px solid #a8a8a8;
    border-radius: 50%;
    transition: all 0.3s;
}

.planPosition2 .radioBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 15px;
    width: 15px;
    height: 15px;
    background-color: #ba3261;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.planPosition2 .radioBtn:checked + label::before {
    border-color: #a8a8a8;
}

.planPosition2 .radioBtn:checked + label::after {
    opacity: 1;
}

.planPosition2 .radioBtn + label {
    cursor: pointer;
}

.positionCurr .select .radioBtn {
    display: none;
}

.positionCurr .select li {
    padding-left: 50px;
    /*position: relative;*/
}

.positionCurr .select label {
    position: relative;
    padding-left: 30px;
    margin-left: -30px;
}

.positionCurr .select .radioBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.positionCurr .select .radioBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 15px;
    height: 15px;
    background-color: #ba3261;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.positionCurr .select .radioBtn:checked + label::before {
    border-color: #d4d4d4;
}

.positionCurr .select .radioBtn:checked + label::after {
    opacity: 1;
}

.positionCurr .select .radioBtn + label {
    cursor: pointer;
}

/*подключение карты в проект на главной странице*/
.map {
    width: 100%;
    height: 350px;
    position: relative;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*начало стилизации банера псевдоклассами*/
.baner .menu a:hover {
    color: #66cccc;
}

.planPosition1 .percent a {
    text-decoration: none;
}

.planPosition1 .pasiv .num:hover {
    color: #73b6cc;
}

.marker button:hover {
    color: #212428;
    background-color: #f2f2f2;
}

.ContentDeposit .touch a {
    display: block;
    width: 360px;
    height: 60px;
    color: #ffffff;
    text-decoration: none;
}

.ContentDeposit .touch li:hover {
    background-color: #292d31;
    border-left: 7px solid #a5345c;
}

.ContentDeposit .positionItems .activ .bgcFon:hover {
    border: 5px solid #74b7cb;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.35);
}

/*создание наимации котировок валют - блок rate*/
@keyframes blink {
    0% {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0.05;
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}

.positionRate {
    animation-name: blink;
    -webkit-animation: blink 4s infinite ease-in-out;
    -o-animation: blink 4s infinite ease-in-out;
    animation: blink 4s infinite ease-in-out;
}